extends layout
block content
  script(src="/javascripts/script.js")
  h3 Escolha o hash a ser aplicado
  div(id='div2')
    div(id='div1')
      form(action='/' method="post")
        span Hash:
        select(name='dropDown', id='')
            each val in [['sha256', 'SHA-256'], ['ripemd160', 'RIPEMD-160']]
                option(value= val[0]) #{val[1]}
        input(type='submit', value='Enviar', onclick="onClick()")
        span Resultado:
        textarea(name='result', id='result', cols="70", rows="16", readonly=true) #{result}
